.navigation {
  background-color: #000000;
  height: 80px;
}

.title {
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title p {
  color: var(--main-color);
  font-size: 1.5em;
  font-family: "Gotham Medium", sans-serif;
  transform: scale(1, 0.9);
  text-decoration: none;
}

.title p:hover {
  cursor: pointer;
}

.navbar {
  position: relative;
  display: flex;
  width: 100%;
  height: 30%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.navbar li {
  margin-left: 1.5em;
  margin-right: 1.5em;
  display: inline-block;
  color: var(--main-color);
  font-size: 0.8em;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.1rem;
  transition: 0.2s;
}

.navbar li:hover {
  cursor: pointer;
  font-family: "Gotham Black", sans-serif;
}

.navbar .active {
  font-family: "Gotham Black", sans-serif;
  color: var(--main-color);
}

.navbar #cart {
  position: absolute;
  right: 1em;
  font-size: 0.8em;
}
.navbar #cart i:hover {
  text-decoration: underline;
}
